<div class="textFont thinText mediumText lightText"><%=@user.username%></div>
<div class="textFont thinText smallText lightText">Level: <%= @user.reputation %></div>
<div class="textFont thinText smallText lightText">Total Likes: <%=@user.likes%></div>


<%= link_to 'Live Updates', updates_path, class: "actions"%>
<%= link_to 'Logout', logout_path, class: 'btn' %>
