<h1> <%=@user.username%>'s Profile </h1>

<% if  @user.facebook_img %>
  <%= image_tag @user.facebook_img.concat("?type=large") %></br>
<% else %>
  <%= image_tag @user.avatar.url(:medium) %></br>
<% end %>

email: <%=@user.email%></br>
Total Likes: <%=@user.likes%></br>
Reputation:
Personal Recent Heat Map: (insert a pic of heat map?)

<p> Recent Updates:</p>
<p>
  <% @updates.each do |update| %>
    <p>
      <%= update.comment %> at <%= update.created_at.localtime.strftime('%I:%M%p')%> from <%= update.lat%>, <%= update.long%> 
    </p>
  <% end %> 
</p>


<%= link_to 'Logout', logout_path, class: 'btn' %>