<div class = "outerUpdateContainer">
  <% @updates.each do |update| %>
     <a> <div class = "updateContainer" data-lat="<%= update.lat %>" data-lng="<%= update.long %>" ></a>
      <div class = "updateImage">
        <% if update.attachment_file_size %> 
            <%= image_tag update.attachment.url(:thumb) %>
            <% if current_user.username == update.user.username %>
                <%= link_to "Delete", update, :confirm => "Delete update", :method => :delete %>
            <% end %> 
        <% end %>
      </div>
      <div class = "updateComment textFont normalText darkText rightText smallestText">
              <div class="updateText">
                  <%= update.user.username%></br> 
                  <div class = "boldText darkText rightText smallestText">
                  <%= update.comment %></div>
                  <%= update.created_at.localtime.strftime('%I:%M%p')%> 
                  <%#= update.lat%> <%#= update.long%> 
                  
              </div>
              <div class= "updateLike">
                  <% if current_user.likes?(update) %>
                      <%= link_to update_like_url(update), :class => "update-like" do %>
                        <div class="heart my-like" title="Like"></div>
                      <%end%>
                  <% elsif !current_user.likes?(update) %>
                    <%= link_to update_like_url(update), :class => "update-like" do %>
                      <div class="heart" title="Like"></div>
                    <% end %>
                  <% end %>

                  <span class="like-count"><%= update.likes %></span>
              </div>
        </div>  
    </div>
  <% end %> 
</div>




<!-- <form id="comment-form">
  <div id='messagesDiv'></div>
  <input type='text' id='messageInput' placeholder='Message...'>
  <input type="submit" id= "post-btn" value="Post">
</form>
 -->
<script>
  // var messagesRef = new Firebase('https://hot-spotter.firebaseio.com/');

  // // When the user presses enter on the message input, write the message to firebase.
  //   $('#comment-form').submit(function (e) {
  //     e.preventDefault();
  //     //var name = $('#nameInput').val();
  //     var username = '<%= current_user.username %>';
  //     var text = $('#messageInput').val();
  //     var created_at = '<%= Time.now.localtime.strftime("%I:%M%p") %>';
  //     messagesRef.push({username:username, text:text, created_at:created_at});
  //     $('#messageInput').val('');

  //     $.ajax({
  //       type: 'POST',
  //       url: '/updates',
  //       dataType: 'json',
  //       data: { update: { comment: text }}
  //     });

  // })

  // // Add a callback that is triggered for each chat message.
  // messagesRef.limit(10).on('child_added', function (snapshot) {
  //   var message = snapshot.val();
  //   $('<div/>').text(message.comment + ' at ' + message.created_at).prepend($('<em/>')
  //     .text(message.username+': ')).appendTo($('.updateContainer'));
  //   $('.updateContainer')[0].scrollTop = $('.updateContainer')[0].scrollHeight;
  // });

  // Add a callback that is triggered for each chat message.
//   messagesRef.limit(10).on('child_added', function (snapshot) {
//     var message = snapshot.val();
//     $('<div/>').text(message.comment + ' at ' + message.created_at).prepend($('<em/>')
//       .text(message.username+': ')).appendTo($('.updateContainer'));
//     $('.updateContainer')[0].scrollTop = $('.updateContainer')[0].scrollHeight;
//   });
// </script>




