<% @updates.each do |update| %>
    <a href="#"> <div id="comments" class = "updateContainer" data-lat="<%= update.lat %>" data-lng="<%= update.long %>" data-time= "<%= update.created_at.to_i%>"
      data-img="<%= render 'returnFbookOrAvatar', :update => update %>"></a>
      <div class = "updateImage">
          <%= render 'displayImgIcons', :update => update %>
      </div>
      <div class = "updateComment textFont normalText darkText rightText smallestText">
              <div class="updateText leftText">
                  <% if update.attachment_file_size != nil %>
                    <div class = 'imageAttachment'>
                        <%= image_tag update.attachment.url(:thumb) %>
                    </div> 
                  <% end %>
                  
                  <%= update.user.username %></br> 
                  <div class = "boldText darkText smallestText">
                  <%= update.comment %></div>
                  <%= update.created_at.localtime.strftime('%I:%M%p')%> 
              </div>
              <div class= "updateLike">
                  <% if current_user.likes?(update) %>
                      <%= link_to update_like_url(update), :class => "update-like" do %>
                        <div class="heart my-like" title="Like"></div>
                      <%end%>
                  <% elsif !current_user.likes?(update) %>
                    <%= link_to update_like_url(update), :class => "update-like" do %>
                      <div class="heart" title="Like"></div>
                    <% end %>
                  <% end %>

                  <span class="like-count"><%= update.likes %></span>
              </div>
        </div> 
    </div>

 
<% end %>

<script> $('.outerUpdateContainer').hide() </script>
<script> $('.outerUpdateContainer').delay(1500).fadeIn(1500); </script>


<!-- <input type='text' id='messageInput' placeholder='Message...'> -->




