<h1>Live Updates</h1>

<p>
<% if  @user.facebook_img %>
  <%= image_tag @user.facebook_img.concat("?type=normal") %></br>
<% else %>
  <%= image_tag @user.avatar.url(:thumb) %></br>
<% end %>
<%= link_to 'Profile Page', user_path(@current_user.id), class: 'btn' %>
</p>

    <div id="googleMap" style="width:500px;height:380px;"></div>
    <%= render 'displayUpdates' %>

    <% if logged_in? ==false  %>
          <%= link_to 'Sign In to Update', new_session_path, class: 'btn' %>
    <% end %>

<%= form_for @update, :method => :post do |f|  %>

    <%= f.label "Description"%> 
    <%= f.text_field :comment, {placeholder: 'comment'} %>
    <p>
    <%= f.label "Attach" %><br>
    <%= f.file_field :attachment %>
    </p>

    <div class="actions"><%=submit_tag 'Post Update' %></div>
    
<% end %>

    <h1>lat long</h1>
 
<script>
window.MapModule.start({
    userLocations: <%= @heatmap_data.html_safe %>
});
</script>