

<script type="text/javascript">
    // var toggleMe = 0;

    $(".profileIcon").click(function() {
      // if (toggleMe == 0){
        // $('#profileColumn').fadeTo(1500, 0.5);
        // $('#profileColumn').show( 'slide', {direction: 'left'}, 'slow' );

        // var containerWidth = $('.containerFull').css('width','80%');
        // var width = $('.colRight70').width();
        // $("#googleMap").css('width' , width - width*0.06);
        $('#profileColumn').toggle();
        $('.containerFull').toggleClass('decreaseWidth');
        // $('#googleMap').toggleClass('decrease');


      //   toggleMe = 1;
      // }
      // else{
      //   // $('#profileColumn').fadeTo(1500, 0);
      //   // $('#profileColumn').hide( 'slide', {direction: 'right'}, 'slow' );
      //   $('.containerFull').css('width','100%');
      //   var width = $('.colRight70').width();
      //   $("#googleMap").css('width' , width - width*0.06);
      //   $('#profileColumn').css('width', 0);
      //   toggleMe = 0;
      // }
   });


</script>

<div class= "row textFont thinText bigText hoverText">
    <div class='colLeft30'>
      <a class="modalLink" href="#"> What's Sizzlin </a>
    </div>
    <div class='colRight70'>
      <%= render 'displayCategories' %>
      <div class="overlay"></div>
      <div class="modal textFont thinText smallestText">
        <a href="#" class="closeBtn textFont thinText smallestText"> x </a>
              
        <%= form_for @update do |f|  %>
        <div class="centerText textFont thinText normalText">What's Sizzlin?</div> 
              <%= f.text_field :comment, {id: 'commentBox'} %></br>
              <%= f.file_field :attachment, {id: 'attachPhoto'} %>
              <%= f.submit 'Post Update', {id: 'submitPost'} %>

                <div id="categorySelection">
                    <% for category in Category.find(:all) %>
                        <%= check_box_tag "update[category_ids][]", category.id, @update.categories.include?(category) %>
                        <%= category.update_type %>
                    <%end%>
                </div>
        <% end %>   
      </div>
    </div>
</div>      
<div class="colLeft30">
  <div class = "outerUpdateContainer">
    <div id = "updateContent">
      <a href="#"> <div id="comments" class = "updateContainer"></a>
      <%= render 'displayUpdates' %>
       </div>
     </div> 
  </div>
</div>
<div class="colRight70">
    <div id="searchBox">
        <input id="addressInput" type="textbox" class= "textFont darkText boldText">
        <input type="button" class = "arrow_box" onclick="codeAddress()">
    </div>
    <div id="googleMap" style="width:500px;height:380px;"></div>
</div>


<% if logged_in? %>
      <%#= link_to 'Post Update', new_update_path, class: 'btn' %>
<% else %>
      <%= link_to 'Sign In to Update', new_session_path, class: 'btn' %>
<% end %>  

<script> $('.modalLink').hide() </script>
<script> $('.modalLink').delay(500).fadeIn(1500); </script>  
<script> $('#googleMap').hide() </script>
<script> $('#googleMap').delay(100).fadeIn(2500); </script>  
<script> $('#searchBox').hide() </script>
<script> $('#searchBox').delay(1500).fadeIn(1500); </script>  

<script> $('#submitPost').click( function() {$('.overlay').delay(100).fadeOut(1000)}); </script>  
<script> $('#submitPost').click( function() {
              $('.modal').delay(100).fadeOut(1000);
              $('.commentBox').val('');
            }); </script>  

<script type="text/javascript">
  $('#sizzleButton').modal({
    trigger: '#sizzleButton',
    olay:'div.overlay',
    modals:'div#newSizzle',
    animationEffect: 'slidedown',
    animationSpeed: 400,
    moveModalSpeed: 'slow',
    background: '00c2ff',
    opacity: 0.8,
    openOnLoad: false,
    docClose: true,
    closeByEscape: true,
    moveOnScroll: true,
    resizeWindow: true,
    video:'http://player.vimeo.com/video/9641036?color=eb5a3d',
    close:'.closeBtn'
  });
</script>
<script>
  $(document).ready( function() {
    window.MapModule.start({
        userLocations: <%= @heatmap_data.html_safe %>
    });
    resize();

  });
</script>
<script>
window.HeatMapModule.start({
    updatesPositions: <%= @updates_positions.html_safe %>
});
</script>


