<!DOCTYPE html>
<html>
<head>
  <title>Hotspotter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
    	<div><%= flash[:notice] %></div>
	<% end %>

	<% if logged_in? %>
        <%= link_to 'Logout', logout_path, class: 'btn' %>
    <% end %>

	<%= yield %>

</body>
</html>
