<!DOCTYPE html>
<html>
<head>
  <title>Hotspotter</title>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA9JBz-80iyKF7JGzeikG0zHHqWdF2CLPs&sensor=true"></script>
  <script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
    	<div><%= flash[:notice] %></div>
	<% end %>
    <% if flash[:alert] %>
      <div><%= flash[:alert] %></div>
  <% end %>

	<% if logged_in? %>
        <%= link_to 'Logout', logout_path, class: 'btn' %>
    <% end %>

	<%= yield %>

</body>
</html>
